body, h1, h2, h3, p, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.main {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
input[type="text"], input[type="number"], button.btn{
  font-size: 20px;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 20px;
}

.search, .fields {
  margin-bottom: 20px;
}

.txtId {
  padding: 5px;
  margin-right: 10px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.txtNombre, .txtNombreUsuario, .txtEmail, .txtCalle, .txtNumero, .txtCiudad {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .main {
      padding: 10px;
  }
  .btn {
      width: 100%;
  }
}