body {
  background-color: #f2f2f2; /* Light grey background color */
  font-family: Arial, sans-serif; /* Specify your desired font-family */
  color: #333; /* Dark grey text color */
}

.container {
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a card-like effect */
  border-radius: 8px; /* Rounded corners for the card */
}

.header {
  background-color: #666; /* Dark grey header background color */
  color: #fff; /* White text color for the header */
  padding: 10px;
  text-align: center;
  border-top-left-radius: 8px; /* Rounded corners for the top left */
  border-top-right-radius: 8px; /* Rounded corners for the top right */
}

.input,
.info {
  padding: 20px;
}

.input p,
.info p {
  margin-bottom: 5px;
  color: #444; /* Dark grey text color for labels */
}
input[type="text"] {
  width: 100%;
}
p, input[type="text"], input[type="number"], button.btn{
  font-size: 20px;
}

.txtPais,
.txtCapital,
.txtLenguaje {
  width: calc(100% - 20px);
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.btnBuscar {
  background-color: #666; /* Dark grey button background color */
  color: #fff; /* White text color for the button */
  padding: 10px;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 4px; /* Rounded corners for the button */
}

.btnBuscar:hover {
  background-color: #555; /* Darker grey color on button hover */
}

.btnLimpiar {
  background-color: #bbb; /* Light grey button background color */
  color: #333; /* Dark grey text color for the button */
  padding: 10px;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 4px; /* Rounded corners for the button */
  margin-top: 15px; /* Space between the info section and the button */
}

.btnLimpiar:hover {
  background-color: #999; /* Darker grey color on button hover */
}