* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
button {
    padding: 5px;
    cursor: pointer;
}
#breedCb {
    min-width: 150px;
    padding: 5px;
}
.img-container {
    display: grid;
    place-items: center;
    height: 200px;
    width: min(300px, 100%);
    background-color: #f0f0f0;
    border: 1px solid black;
}
.dog {
    object-fit: contain;
    width: min(200px, 100%);
    height: 200px;
}
.container {
    height: 600px;
    width: min(1000px, 90%);
    background-color: #e0e0e0;
    text-align: center;
}
.container-header, .container-search, .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container-header {
    height: 150px;
    flex-direction: column;
}
.container-search {
    height: 100px;
}
.container-image {
    flex-direction: column;
}
